.card {
	border: 1px solid var(--slate6);
	border-radius: 10px;
	/* width: 225px; */
	height: 250px;
}

.cardBody {
	height: 50%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.img {
	height: 60px;
	width: 60px;
}
.text {
	color: var(--slate11);
}
.text p:first-child {
	margin: 5px 0;
}
.text p:last-child {
	margin: 5px 0;
}


.cardAction {
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.link {
	height: 60px;
	width: 130px;
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--slate3);
	color: var(--slate11);
	border: 1px solid var(--slate7);
	border-radius: 10px;
	padding: 15px;
	text-decoration: none;
}
.link:hover {
	background-color: var(--slate4) !important;
	border-color: var(--slate8) !important;
}
.link:active {
	background-color: var(--slate5) !important;
}