@import "@radix-ui/colors/gray.css";
@import "@radix-ui/colors/slate.css";
@import "@radix-ui/colors/green.css";
@import "@radix-ui/colors/red.css";


*, ::before, ::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Playfair Display', serif;
}

main {
	/* background: linear-gradient(135deg, rgba(145, 176, 238, 1) 0%, rgba(196, 161, 232, 1) 100%); */
	background-color: var(--gray2);
}